*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
body{
  max-width: 1800px;
  margin: 0 auto;
}
@media(max-width:767px){
  body{
    max-width: 100%;
  }
 
}
.center{
  text-align: center;
}